doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/toastui/toastui-calendar.css')
    script(src="/toastui/toastui-calendar.js")
  body
    block content
    

